html {
	font-family: 'Aref Ruqaa';
	background: #1c1b1b;
	color: #abda53;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.main {
	text-align: center;
}

header {
	font-size: 5rem;
}

span {
	font-size: 2rem;
	color: #ffa245;
}

.clock {
  width: 15rem;
  height: 15rem;
  border:20px solid white;
  border-radius:50%;
  margin:50px auto;
  padding:2rem;
}

.clock-face {
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
	position: absolute;
	top: 50%;
	width: 50%;
	background: black;
	position: absolute;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	-webkit-transform-origin: 100%;
	        transform-origin: 100%;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
	        transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

#hour-hand {
	height: 0.5rem;
}

#min-hand {
	height: 0.4rem;
}

#sec-hand {
	height: 0.3rem;
}
